<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="index,follow,noimageindex" />

    <title>Cat Food</title>
    <meta name="description" content="Pieretta Hatsune Miku in WebGL!">

    <meta name="author" content="Jia Liang, hojialiang@yahoo.com" />
    <meta name="last-modified" content="2019-11-22" />

    <link rel="icon" href="favicon.ico" type="image/ico" sizes="64x64">
    <link rel="canonical" href="https://jialiang.github.io/pieretta/">
    <style>
        <%- include("fonts/lobster.css") %><%- include("fonts/oswald.css") %>

    </style>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body lang="en" dir="ltr">
    <main>
        <canvas id="gl-canvas" class="first">
            Your browser doesn't appear to support the canvas element.
        </canvas>
        <div class="second">
            <div class="limiter-container-1">
                <h1>Cat Food</h1>
                <div class="limiter-container-2">
                    <input id="karaoke-checkmark" type="checkbox" name="karaoke">
                    <label for="karaoke-checkmark">
                        <span class="checkmark"></span>
                        <span class="label">Karaoke Mode</span>
                    </label>
                    <div class="play-container">
                        <video class="normal-video" controls>
                            <source type="audio/flac" src="audio/CatFood.flac">
                            <source type="audio/mpeg" src="audio/CatFood.mp3">
                            <track label="English" kind="subtitles" srclang="en" src="audio/CatFood.vtt" default>
                        </video>
                        <video class="karaoke-video" controls>
                            <source type="audio/flac" src="audio/CatFood-karaoke.mp3">
                            <track label="Japanese (Romaji)" kind="subtitles" srclang="ja" src="audio/CatFood-karaoke.vtt" default>
                        </video>
                    </div>
                    <p class="subtitle"></p>
                </div>
                <ul>
                    <li>
                        <div>Music, Lyrics</div> Doriko
                    </li>
                    <li>
                        <div>Vocals</div> Hatsune Miku
                    </li>
                    <li>
                        <div>Guitar</div> Hajime Nezu
                    </li>
                    <li>
                        <div>Bass</div> Tissue Hime
                    </li>
                    <li>
                        <div>Illust</div> Nezuki
                    </li>
                    <li>
                        <div>Model, Texture</div> SEGA
                    </li>
                    <li>
                        <div>Rip</div> Luiz Neto
                    </li>
                    <li>
                        <div>WebGL</div> Jia Liang
                    </li>
                </ul>
            </div>
        </div>
        <div class="third">
            <div class="image-container">
                <img src="concept.jpg" alt="Concept art for the Pierrata outfit." />
            </div>
            <div class="cta-container">
                <h2>Read about the making of this project!</h2>
                <a href="https://jialiang.github.io/#pieretta">Go to Main Site</a>
            </div>
        </div>
    </main>

    <script>
        (function () {
            const videos = Array.from(document.getElementsByTagName("video"));
            const subtitle = document.getElementsByClassName("subtitle")[0];

            videos.forEach(video => {
                video.textTracks[0].mode = "hidden";

                video.textTracks[0].oncuechange = event => {
                    subtitle.innerHTML = event.target.activeCues[0] ? event.target.activeCues[0].text : "";
                };
            });

            const karaokeCheckbox = document.getElementById("karaoke-checkmark");

            karaokeCheckbox.onchange = event => {
                videos.forEach(video => {
                    video.pause();
                });

                subtitle.innerHTML = "";
            };
        })();
    </script>
    <script src="main.js"></script>
</body>

</html>
